
<div class="navbar bg-accent text-accent-content">
  <div><a class=" rounded-xs navbar-start m-1 text-2xl " href='/'><i data-feather="home"></i></a></div>
  <div class="navbar-start"><h1 class="text-2xl">{{title}}</h1></div>
  <div class="navbar-end">
    <p class="">
      <a class="btn btn-secondary" href="/notes/add">ADD Note</a></p>
  </div>
</div>