<div class="navbar bg-base-300 text-base-content rounded-t-2xl">
  <div class="navbar-start gap-2 align-middle">
    <a class="btn  tooltip tooltip-bottom" data-tip=" Home " href="/"><i data-feather="home"></i></a>
    <h1 class="text-xl">{{title}}</h1>
  </div>
  <div class="navbar-end">
    <p class="">
      <a class="btn btn-accent" href="/notes/add">ADD Note</a>
    </p>
  </div>
</div>