@import "tailwindcss" source(none);
@source "../../../partials/*";
@source "../../../views/*";
@source "../../../public/*";
@plugin "daisyui" {
  themes: light --default , dark --prefersdark;
}
@theme {
  --breakpoint-xs : 28rem
}


