<form class=" pl-8 pt-4 pr-8 bg-base-100 max-w-90" method='POST' action='/users/create'>
  <label class=" input input-primary m-2">
    User Name:
    <input type="text" name="username" required>
  </label>
  <label class=" input input-primary m-2">
    Full Name:
    <input type="text" name="fullName" required>
  </label>
  <label class=" input input-primary m-2">
    First Name:
    <input type="text" name="firstName">
  </label>
  <label class=" input input-primary m-2">
    Last Name:
    <input type="text" name="lastName">
  </label>
  <label class=" input input-primary m-2" >
    Email:
    <input type="text" name="email" required>
  </label>
  <label class=" input input-primary m-2">
    Password:
    <input type="text" name="password" required>
  </label>

  <input class="block btn btn-primary m-auto mt-2" type="submit" value="Submit">

</form>