<form class=" pl-8 pt-4 pr-8 bg-base-100 max-w-90" method='POST' action='/users/create'>
  <label class=" input input-primary m-2">
    User Name:
    <input type="text" name="username" required>
  </label>
  <label class=" input input-primary m-2">
    Given Name:
    <input type="text" name="givenName" required>
  </label>
  <label class=" input input-primary m-2">
    Family Name:
    <input type="text" name="familyName">
  </label>
  <label class=" input input-primary m-2" >
    Email:
    <input type="text" name="email" required>
  </label>
  <label class=" input input-primary m-2">
    Password:
    <input type="text" name="password" required>
  </label>

  <input class="block btn btn-primary m-auto mt-2" type="submit" value="Submit">

</form>