<ul class="p-8 menu-vertical w-full max-w-2xl m-auto bg-base-100 rounded-box shadow-2xl">
{{#each notelist}}
  <li class=" m-1">
  <a class=" text-xl btn btn-block p-4 text-accent " href="/notes/view?key={{ key }}">{{ title }}</a>
  </li>
{{/each}}
</ul>