<div class="p-4 md:p-8 list w-full m-auto bg-base-100  ">
  {{#if notelist}}
  <div class="rounded-2xl border border-gray-500 ">
    {{#each notelist}}


    <a class=" block hover:bg-base-300 transition-all text-xl text-primary p-4 border-b text-center border-base-300  "
      href="/notes/view?key={{key}}">{{title}}</a>


    {{/each}}
  </div>
</div>
{{else}}
<h1 class=" text-2xl p-8 m-auto">No Note Added Yet.</h1>
<p class=" m-auto w-[12rem]">
  <a class="btn btn-block btn-primary" href="/notes/add">ADD Note</a>
</p>
{{/if}}
</div>