<!DOCTYPE html>
<html data-theme="dark">

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/assets/stylesheets/styles.css' />
  
</head>

<body class=" max-w-2xl m-auto ">
  {{> header }}
  <script src="/assets/javascripts/theme.js"></script>
  {{{body}}}
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/popper.js/popper.min.js"></script>
  <script src="/assets/vendor/feather-icons/feather.js"></script>
  <script>
    feather.replace();
  </script>
</body>

</html>