<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/assets/stylesheets/styles.css' />
  
</head>

<body class=" max-w-[720px] m-auto rounded-box border border-base-300 shadow-2xl h-[100vh] overflow-auto ">
  {{> header }}
  <div class=" h-[64px]"></div>
  {{{body}}}
  <script src="/assets/vendor/feather-icons/feather.js"></script>
  <script>
    feather.replace();
  </script>
</body>

</html>