<form class=" pt-4 pl-8 pr-8 bg-base-100 max-w-90" method='POST' action='/users/login'>
  <label class=" input input-primary m-2">
    User Name:
    <input type="text" name="username" required>
  </label>
  <label class=" input input-primary m-2">
    Password:
    <input type="text" name="password" required>
  </label>
  <div class="pl-2">
    <input class="block btn btn-primary mt-2 " type="submit" value="Login">
  </div>
  

</form >
<div class="ml-8 bg-base-100 max-w-85">
  <p class="pl-2 mt-2  w-fit">New User?</p>
<div class="pl-2 w-fit mt-2">
  <a class="btn btn-outline border-[#e5e5e5] " href="/users/create">Create Account</a>
</div>
<div class="pl-2 w-fit mt-2">
  <button class="btn btn-outline border-[#e5e5e5]">
  <svg aria-label="Google logo" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><g><path d="m0 0H512V512H0" fill="#fff"></path><path fill="#34a853" d="M153 292c30 82 118 95 171 60h62v48A192 192 0 0190 341"></path><path fill="#4285f4" d="m386 400a140 175 0 0053-179H260v74h102q-7 37-38 57"></path><path fill="#fbbc02" d="m90 341a208 200 0 010-171l63 49q-12 37 0 73"></path><path fill="#ea4335" d="m153 219c22-69 116-109 179-50l55-54c-78-75-230-72-297 55"></path></g></svg>
  <a href="/users/oauth/google">Login with Google</a>
</button>
</div>
</div>
